<table class='table table-hover table-striped'>
  <% Opcoes.each do |id, text| %>
    <tr>
      <th><%= text %></th>
      <td><%= @votos[id] || 0 %>
      <td><%= '#' * (@votos[id] || 0) %></td>
    </tr>
  <% end %>
</table>
<p><a href='/'>Vote Mais!</a></p>